.chat-screen {
  position: fixed;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  height: calc(100vh - 60px);
  width: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.chat-form {
  display: flex;
  flex-direction: column;
}

.typing-indicator {
  height: 10px;
  font-size: 10px;
}

/* side columns */
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  width: 240px;
}

.list {
  list-style: none;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  z-index: 4000;
}

.list-header {
  font-size: 26px;
  padding: 10px 20px;
}

.add-btn {
  height: 60px;
  width: 60px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  transition: border-radius 0.4s;
}

.add-btn:hover {
  cursor: pointer;
  border-radius: 20px;
}

.add-btn:focus,
.add-btn:active {
  outline: none;
}

.presence {
  margin-right: 10px;
  height: 10px;
  width: 10px;
  border: none;
  border-radius: 50%;
}
