.message-form {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-input {
  flex: 8;
  text-align: left;
  font-size: 16px;
  font-family: inherit;
}

.message-send {
  cursor: pointer;
  flex: 1;
}
