.message-form {
  /* position: absolute; */
  bottom: 0;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.message-input {
  flex: 8;
  text-align: left;
  font-size: 16px;
  font-family: inherit;
}

.message-send {
  cursor: pointer;
  flex: 1;
}
