.rooms-list {
  background-color: #2264b1;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
  /* padding: 10px; */
}

.rooms {
  list-style: none;

}

.room {
  padding: 10px;
  transition: background-color 0.4s;
}

.room:hover {
  background-color: #1d5391;
  cursor: pointer;
}

.room-header {
  font-size: 26px;
  padding: 10px 10px 20px 10px;
}

.create-room {
  height: 60px;
  width: 60px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: #fff;
  color: #2264b1;
  transition: border-radius 0.4s;
}

.create-room:hover {
  cursor: pointer;
  border-radius: 20px;
}